.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 9px 9px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  position: relative;


  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */

  &:active {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #00000030;
    top: 1px;
  }

  &:hover,
  .food-item-image:hover {
    box-shadow: 9px 9px 10px #00000030;
    transform: translateY(-5px);
    transition: 0.3s;
    animation: fadeIn 0.1s;
    cursor: pointer;
  }
}

.food-item-btn-toggle-modal{
  font-size:22px;
  color: tomato;
}
.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  p {
    font-size: 35px;
    font-weight: 500;
  }

  img {
    width: 70px;
  }
}

.food-item-desc {
  color: #676767;
  font-size: 22px;
}

.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
  animation: blink-text 1s infinite;
}

.food-item-img-container {
  position: relative;

  .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
  }
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 50px;
  background-color: white;

  img {
    width: 25px;

    &:hover {
      transition: 0.3s;
      animation: fadeIn 0.1s;
      opacity: 0.8;
    }

    &:active {
      transition: 0.3s;
      animation: fadeIn 0.1s;
    }
  }
}

.favorite-btn {
  width: 20px;
  top: 10px;
  right: 10px;
  position: absolute;
  height: 20px;

  .favorite_icon {
    filter: brightness(0) invert(1); /* Chuyển màu hình ảnh thành trắng */
  }
}
