.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 8vw;


}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  animation: fadeIn 3s;
}

.footer-content-left img {
  cursor: pointer;

}

.footer-content-left img:hover {
  opacity: 0.7;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content-left h2,
.footer-content-right h2,
.footer-content-center h2 {
  color: white;
}
.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
}

.footer hr {

  background-color: gray;
}

@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;

  }
}

.footer-content-left a img:hover {
  transform: scale(1.05);
  transition: 0.2s;
  opacity: 0.5;
}

.footer-content-center li:hover {
  transform: scale(1.05);
  transition: 0.2s;
  opacity: 0.5;
}
.footer-content-right li:hover {
  transform: scale(1.05);
  transition: 0.2s;
  opacity: 0.5;
}
@media (max-width: 750px) {
  .footer-content-left,
  .footer-content-right,
  .footer-content-center {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

  }
}
