$duration: 0.5s;

// Font Family

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
/* $base-background: #00CC99; */
$base-background: #d18b49;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #ffffff;
$accent: #4285f4;
$primary: #2f313a;
$secondary: #f4b142;

// Card Settings
$max-width: 450px;
$max-height: null;
$gutters: 24px;

.container-info {


  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h2 {
    color: tomato;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h3 {
    color: tomato;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  h4 {
    color: #333;
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  ul {
    margin-left: 20px;
    color: #666;
  }

  ul li {
    margin-bottom: 10px;
  }

  strong {
    font-weight: bold;
  }
}

.container-info:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  transform: translateY(-5px);
  animation: fadeIn 0.1s;
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=0);
}

.intro-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
.btn-back-history {
  height: 40px;
  transform: rotate(-90deg);
  width: 40px;
  font-size: 50px;
  background: var(--gradient-text-o);
  border-radius: 50%;
  transition: background 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  top: 100px;
  border: white;
  cursor: pointer;
  position: absolute;
}

.btn-back-history:hover {
  background: rgba(255, 255, 255, 0);
}
.fontawe {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.fontawe:hover {
  color: var(--gradient-text-o);
}
.backtotopbutton:active {
  background: var(--gradient-text-o);
  transition: background 0.3s, color 0.3s;
}

.fontawe:active {
  color: #ffffff;
}

// Duration

// Elevation
@mixin elevation($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

// Button
.btn-info {
  border-radius: 2px;
  padding: 12px 12px;
  color: #d18b49;
  font-size: 14px;
  font-weight: $semibold;
  text-decoration: none;
  text-transform: uppercase;
  transition: $duration ease;
  cursor: pointer;
}
.btn-info:active {
  background: #ffffff;
  color: #d18b49;
  box-shadow: 0 0 0 2px rgba($white, 0.2);
  transform: translateY(2px);
  transform: translateY(-1px);
}

.btn-info:hover {
  background: #d18b49;
  color: #ffffff;
  box-shadow: 0 0 0 2px rgba($white, 0.2);
  transform: translateY(2px);
  transform: translateY(-1px);
  transition: $duration ease;
}
// Card
.card-info {
  background: $white;
  max-width: $max-width;
  min-height: $max-height;
  margin: 0 auto auto auto;
  border-radius: 12px;
  @include elevation(3);
  box-sizing: border-box;
  padding: 48px;
  text-align: center;
}
.card-info:active {
  box-shadow: 0 0 0 2px rgba($white, 0.2);
  transform: translateY(2px);
  transform: translateY(-1px);
}
// Products
.products-info {
  position: relative;
  overflow: hidden;
  transition: $duration ease;
}

// Product
.product-info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: $duration ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

// Thumbnail
.thumbnail-info {
  margin: 0 0 48px;
}

// Title
.title-info {
  margin: 0 0 12px;
  color: #d18b49;
  font-size: 24px;
  transition: $duration ease;
}

// Description
.description-info {
  margin: 0 0 ($gutters * 2);
}

// Footer
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 12px 12px;
}

// Ripple
[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;

  .ripple-info {
    position: absolute;
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: scale(0);
    animation: ripple 2s;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}
