@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// Biến màu sắc
$color-tomato: tomato;
$color-background: #f5f5f5;
$color-white: #fff;
$color-border: #ddd;
$color-text-dark: #333;
$color-text-light: #666;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-shadow-hover: rgba(0, 0, 0, 0.19);

header:hover,
footer:hover,
section:hover {
  box-shadow: 0 10px 20px $color-shadow-hover, 0 6px 6px $color-shadow-hover;
  transition: 0.3s;
  transform: translateY(-5px);
  animation: fadeIn 0.1s;
  cursor: pointer;
  opacity: 0.8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body {

  font-family: Arial, sans-serif;
  line-height: 1.6;


}

header {

  text-align: center;
  padding: 20px 0;
  border-radius: 5px;

  h1 {
    margin: 0;
    font-size: 2.5rem;
    
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



:root {
  
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(89.97deg, white 1.84%, #f49867 55.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  --gradient-text-o: rgba(244, 152, 103, 1);
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 20px;
  --cursor-outline-size: 12px;
  --background-light: #f0f0f0;
  --background-dark: #212121;
  --text-light: #333;
  --text-dark: #fff;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



// Media Queries
@media (max-width: 768px) {
  section {
    padding: 10px;
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
