.item-container {
  place-self: center;
  width: auto;
  color: #808080;
  flex-direction: column;
  display: flex;
  gap: 25px;
  padding: 10px 0px;
  border-radius: 15px;
  font-size: 23.5px;
  animation: fadeIn 0.5s;
}

.item-container li {
  border-radius: 5px;
  transition: 0.3s;
  padding: 0 10px;
  font-size: 22.5px;
  margin: 5px;
}
.item-content {
  margin-top: -10px;
  margin-bottom: -10px;
}
