// Biến màu sắc
$color-tomato: tomato;
$color-background: #f5f5f5;
$color-white: #fff;
$color-border: #ddd;
$color-text-dark: #333;
$color-text-light: #666;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-shadow-hover: rgba(0, 0, 0, 0.19);

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




// Hover Effects
